<form action="/login" method="post">

    <style>
        .contenedor
        {
            font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
            height:100px;
            line-height:80px;
            border:2px solid;
            text-align:center;
            background: #F68C75;
        }
        .contenedor2
        {
            font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
            height:1000px;
            line-height:80px;
            border:2px solid;
            text-align:center;
            background: #538EC3;
        }
    </style>

    <div class="contenedor2">
    <div class="contenedor">

        <h1>Bienvenido</h1>

        <div>
            <label for="userID">Usuario: </label>
            <input type="text"
                   id="userID"
                   name="usuario">
        </div>
        <div>
            <label for="passwordID">Contraseña: </label>
            <input type="password"
                   id="PaswordID"
                   name="password">
        </div>
        <div>
            <button type="submit">Ingresar</button>
        </div>

    </div>
    </div>
</form>
